.wrapper {
  padding: 5px;
  width: 100%;
  border-radius: 6px;
  margin-top: 3px;
  background-color: rgb(234, 234, 234);
}

.title {
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 16px;
  color: rgb(12, 91, 250);
}
