.wrapper {
  padding: 20px 0;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 19px;
  margin-bottom: 25px;
  color: rgb(12, 91, 250);
}

.blocks {
  //display: block;
  gap: 20px;
}
